<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item">
  <button class="btn btn-success pull-right"> New Contact </button>
  <h2 class="list-group-item-heading">Contact</h2>
  </a>

<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <app-contact-list></app-contact-list>

        <!--<p class="list-group-item-text"> {{recipe.description}}</p>
      </div>
      <span class="pull-right"><img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px">
      </span>

    </a>
    <app-contact-detail></app-contact-detail>
  </div>
</div>-->
</div>

</a>

</div>

