
<div class="list-group-item clearfix">
  <div class="row"  *ngFor="let contact of contacts">
      <h1 class="headerfont Item1">{{contact.name}}</h1>

  </div>
  <div class="row">
      <div class="col-xs-12" *ngFor="let contact of contacts" style="display: inline-flex;" >
          <div *ngFor="let contact of contacts">
              <img class="img-responsive"
              [src]="contact.imageUrl"
              alt="{{contact.name}}" >
          </div>

          <hr>
          <div class="row">
              <div class="col-xs-12">
                  <div class="btn-group">
                      <button type="button" class="btn btn-success" style="margin-left: 25px; margin-top: 145px;">Edit</button>
                      <button type="button" class="btn btn-danger" style="margin-left: 27px; margin-top: 145px;">Delete</button>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

<div class="list-group-item clearfix" *ngFor="let contact of contacts">
  <p>Phone: {{contact.phone}}</p>
  <p>Email: {{contact.email}}</p>
</div>





